body{
    background-image: linear-gradient(to right, #654ea3, #eaafc8);
}
h1{
    color:antiquewhite;
    text-align:center;
}
#avatar{
    display:block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 50%;
  border: 5px solid white;
}
h2{
    color:antiquewhite;
    text-align:center;
}
.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 50%;
    white-space: nowrap;
    background-color: white;
    margin-left:auto;
    margin-right: auto;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
ul{
    list-style-type: none;
    padding:0;
    margin:0;
}
a{
    color: turquoise;
    text-decoration: none;
    text-align:center;
    display:block;
}
p{
    color: white;
    text-align: center;
}
.pro_pic{
    display:block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px 
    
}
#skills{
    color: white;
    text-align: center;
    
}
